// 字級
.fz-1{
  font-size: 4px;
}
.fz-2{
  font-size: 8px;
}
.fz-3 {
  font-size: 12px;
}
.fz-4 {
  font-size: 16px;
}
.fz-5 {
  font-size: 20px;
}
.fz-6 {
  font-size: 24px;
}
.fz-7 {
  font-size: 28px;
}
.fz-8 {
  font-size: 32px;
}
.fz-9 {
  font-size: 36px;
}
.fz-10 {
  font-size: 40px;
}

.fz-12 {
  font-size: 48px;
}
.fz-16 {
  font-size: 64px;
}

.font-size-14{
  font-size: 14px;
}

// 其他設定
$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);