<div class="container"><hr class="bg-primary-100 m-0" /></div>
<div class="container"></div>
<footer
  class="text-center bg-primary-100 text-primary-400 py-6 fz-4 fw-semibold font-newsreader"
>
  ©Vivre 2024 All right Reserved
</footer>
