.popular {
  .card {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
  }
  .card:hover{
    opacity: 0.8;
    border: none;
    transition: 0.2s;
  }
}

.featured{

}
