.modal-new, .modal-edit{
    .modal-dialog {
        max-width: 400px; /* 固定宽度 */
    }
    .modal-content {
        height: 736px; /* 固定高度 */
        overflow-y: auto; /* 当内容超出高度时显示滚动条 */
    }
    select{
        font-size: 14px;
    }
    input::placeholder {
        font-size: 16px; /* 设置为你想要的字体大小 */
        color: #6c757d; /* 你也可以调整颜色 */
    }
}

.modal-view{
    .modal-dialog {
        max-width: 480px; /* 固定宽度 */
    }
}